body {
    background-image: url('../assets/background.jpg');
}

#navbar {
    background-color: #fff;
}

#main {
    height: 80vh;
}

#name {
    background-color: rgb(21, 114, 75);
}

#name-text {
    color: #fff;
}

#links-container {
    list-style-type: none;
}

.links {
    color: grey;
    font-weight: bold;
}

.links:hover {
    color: rgb(21, 114, 75);
    cursor: pointer;
}

#footer {
    background-color: grey;
    color: #fff;
}

#profile-pic {
    float: left;
    width: 20vw;
}

#github-link:hover {
    color: rgb(21, 114, 75);
    cursor: pointer;
}

#linkedin-link:hover {
    color: rgb(44, 107, 209);
    cursor: pointer;
}

#stack-link:hover {
    color: rgba(223, 160, 26, 0.966);
    cursor: pointer;
}

.text {
    color:rgb(21, 114, 75)
}

#socials {
    height: fit-content;
    background-color: #fff;
}

#about {
    height: fit-content;
    background-color: #fff;
}

button {
    background-color:rgb(21, 114, 75);
    border: none;
    border-radius: 10px;
    color: #fff;
}
#item-container {
    position: relative;
    max-width: 30vh;
}
#project-name {
    color:#fff;
    background-color: rgb(21, 114, 75);
}

#card-body {
    width: 18rem;
}

.card-title {
    background-color: rgb(21, 114, 75);
}